# Gradle
*.iml
.gradle
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Local config
local.properties

# IDE
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml

# Kotlin compiler
.kotlin/

# OS
.DS_Store
Thumbs.db

# Logs & Build Artifacts
*.log
*.txt
!README.md
!LICENSE

# Secrets
google-services.json
*.keystore
*.jks

# Debug keystore copies
%USERPROFILE%/
